@font-face {
    font-family: 'starbornregular';
    src: url('starborn-webfont.woff2') format('woff2'),
         url('starborn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'starbornregular';
    src: url('starborn-webfont.woff2') format('woff2'),
         url('starborn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}