body,html{
    display: flex;
    justify-content: center;
    background-color: rgb(171, 205, 219);
}

/*HEADERS*/
h1, h2, h3{
    font-family: starbornregular;
    text-align: center;
}

/*TEXT*/

p{
    font-family: 'Concert One', sans-serif;
    font-size: large;
}
.synopsis{
    float: right; 
    margin-right: 100px;
    margin-top: 30px;
    width: 370px;
}

.personalreview{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*CONTENT*/
#content{
    border: 1px;
    height: 550px;
}

.info{
    ul{
        text-align: center;
        list-style: none;
        margin: 5px 15px auto 15px;
        font-family: 'Concert One', sans-serif;
    }
}

/*IMAGES, VIDEO*/ 
#poster{
    float: left;
    img{
        margin-left: 60px;
        margin-top: 50px;
        width: 280px;
        height: 360px
    }
}

.characters{
    img{
        height: 50px;
        font-size: medium;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        text-align: center;
        font-size: small;
    }
}

#video{
    /*top right bottom left*/
    margin: 35px 15px 8px 380px;
}

#ponyoGIF{
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    height: 250px;
}

/*NAV*/
#nav{
    text-align: center;
}

#nav-list{
    font-family: 'Concert One', sans-serif;
    text-align: center;
    list-style: none;
    display: inline;
    padding: 10px;
}

/*CONTAINER*/
#container{
    width: 900px;
    height: 850px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
}

/*FOOTER*/
#footer{
    text-align: center;
    font-family: 'Concert One', sans-serif;
}