body,html{
    display: flex;
    justify-content: center;
    background-color: rgb(171, 205, 219);
}

/*HEADERS*/
h1, h2, h3{
    font-family: starbornregular;
    text-align: center;
}

/*TEXT*/
.synopsis{
    float: right; 
    margin-right: 90px;
    margin-top: 30px;
    width: 370px;
}

/*CONTENT*/
#content{
    border: 1px;
    height: 550px;
}

/*IMAGES, VIDEO*/ 
#poster{
    float: left;
    img{
        margin-left: 60px;
        margin-top: 50px;
        width: 280px;
        height: 360px
    }
}

#video{
    /*top right bottom left*/
    margin: 35px 15px 10px 380px;
}

/*NAV*/
#nav{
    text-align: center;
}

#nav-list{
    text-align: center;
    list-style: none;
    display: inline;
    padding: 10px;
}

/*CONTAINER*/
#container{
    width: 900px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
}

/*FOOTER*/
#footer{
    text-align: center;
}